#devices {
  width: 50%;
  margin: 50px;
  text-align: center;
}

#users {
  width: 50%;
  margin: 20px;
  text-align: center;
}

.table-primary {
  text-transform: uppercase;
}
.form-group {
  width: 40%;
  text-transform: uppercase;
  font-weight: bold;
}
h1 {
  text-align: center;
  font-weight: bold;
}
label {
  margin-top: 20px;
}

input {
  margin-bottom: 20px;
}
body {
  height: 100%;
  min-height: 100%;
  background: linear-gradient(to top right, #000000 1%, #f0f0f2 100%);
}
.btn {
  margin: auto;
  display: flex;
}

textarea {
  margin-bottom: 20px;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(219, 100, 100, 0.747) !important;
}
#main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-item {
  margin: 0 20px;
}

.main {
  margin-top: 7em;
  min-height: calc(100vh - 7em - 42px);
}

.mainUser {
  margin: 10em auto;
}

/* Send Command, Register device */
#command-class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */
#footer {
  border-top: 0.5px solid grey;
  text-align: center;
  color: blanchedalmond;
}
